# Python
**/__pycache__/
**/*.py[cod]
**/.env
**/.env*

venv/
.venv/

# Node.js
node_modules/

# Next.js
.next/

# IDE
.vscode/
.idea/

# AI agent
AGENTS.md

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc